* {
	margin: 0;
	padding: 0;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

body {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-content: flex-start;

	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 300;
	font-smooth: antialiased;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 15px;
	background: #eee;
}